.frames-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
}

.frames-item {
  width: 270px;
  height: 230px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding-top: 30px;
}

.gray-round {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b0b0b0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.black-round {
  display: flex;
  width: 58px;
  border-radius: 50%;
  height: 58px;
  align-items: center;
  justify-content: center;
  background: #000000;
}

.black-round img {
  width: 40px;
  height: 40px;
}

.frames-item h1 {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 12px;
}

.frames-item p {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  flex-wrap: nowrap;
}
