.signup-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 85px;
  margin-bottom: 140px;
}

.signup-img {
  width: 805px;
  height: 781px;
}

.Signup-form {
  display: flex;
  flex-direction: column;
}

.Signup-title {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 36px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 24px;
}

.Signup-form p:first-child {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 48px;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}

.Signup-input {
  width: 370px;
  height: 32px;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.Signup-input::placeholder {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  opacity: 0.4;
}

.Signup-btn {
  border-radius: 4px;
  background: rgb(219, 68, 68);
  width: 371px;
  height: 56px;
  padding: 16px 122px 16px 122px;
}

.Signup-form-bottom {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.google-btn {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  width: 371px;
  height: 56px;
  align-items: center;
  padding: 16px 86px 16px 86px;
  justify-content: space-around;
}

.Signup-form p:last-child {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 16px;
  margin-top: 34px;
}

.Signup-form a {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 16px;
  opacity: 0.7;
  margin-left: 16px;
}
