.home-reclame-content {
  margin-top: 60px;
  margin-bottom: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Poppins;
}

.home-reclame-content p {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.dropdown-item {
  display: flex;
  flex-direction: row;
  gap: 51px;
  width: 217px;
  height: 44px;
}

.dropdown-item img {
  width: 7.78px;
  height: 12.73px;
}

.home-dropdown,
.dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.reclame-img {
  width: 892px;
  height: 344px;
}

.dropdown-content.open {
  max-height: 200px;
}
